node_modules/
.svelte-kit/
build/
.DS_Store
*.log
.env
.env.*
!.env.example
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/

# Laravel
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.fleet
/backend/.idea
/backend/.vscode
/backend/storage/*.key
/backend/public/hot
/backend/public/storage
/backend/storage/logs
/backend/bootstrap/cache

# SvelteKit
/frontend/node_modules/
/frontend/.svelte-kit/
/frontend/build/
/frontend/.env
/frontend/.env.*
/frontend/!.env.example
/frontend/package-lock.json
